body {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #091e31;
}

.menu-bar {
  background-color: #091e31;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
  width: 100%;
  position: fixed;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
  cursor: pointer;
}

a:hover, button:hover {
  color: red;
  background-color: #28435b
}

.button {
  height: 29px;
  width: 40px;
  background-color: navajowhite;
}

.menu-bar input[type="text"] {
  padding: 5px;
  margin-left: 40px;
  width: 30%;
}

.imagem-top {
  margin-top: 0px;
  padding-top: 0px;
  background-image: url(/img/img1.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  object-fit: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color:#e7e7d2;
  font-size: 60px;
}

h3 {
  color:white;
  font-size: 40px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.card1 {
  text-align: center;
  width: 33%;
  height: 250px;
}

.card2 {
  text-align: center;
  width: 33%;
  height: 250px;
}

.card3 {
  text-align: center;
  width: 33%;
  height: 250px;
}

.corpo   {
  margin-top: 0px;
  padding-top: 0px;
  background-image: url(/img/img2.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  object-fit: cover;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.coluna {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 600px;
  transition: all 0.3s ease-out;
  background-color: white;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.image {
  float: center;
  max-width: 600px;
  max-height: 200px;
}

.pacotes {
  background-color: #d1d1ab;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  padding: 60px 0px 30px 0px;
}

.card_pacotes {
  padding: 4px;
  width: 100%;
}

.coluna_imgs {
  color: #333;
  padding-left: 2%;
}

iframe {
  width: 80%;
  height: auto;
  padding-left: 10px;
}

.reserva {
  color: white;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: auto;
  background-color: #e7e7d2;
  align-items: center;
  justify-content:space-around;
  display: flex; 
  padding-top: 20px;
}

.footer span {
  font-size: 20px;
  margin-bottom: 30px;
}

.footer p {
  margin: 5px;
}
